*, *:before, *:after {
    box-sizing: border-box;
   }

  html {  
    font-size:100%;
  }
  
  body {
      color: black;
      font-family:'Courier New', Courier, monospace;
      font-size:18px;
      font-weight:400;
  }
  
  .skill-set li:hover {
      background: rgb(235, 72, 153);
  }
  
  .left {
      background-color: rgba(66, 50, 119, 0.75);
      border-right:1px solid rgba(0,0,0,.05);
      float:right;
      height:100%;
      margin-left:-1px;
      min-width:256px;
      position:fixed;
      width:33.33%;  
  }
  
  .right {
      float:right;
      height:100%;
      position:relative;
      width:66.66%;
  }

  .name-joan {
      background:rgba(0,0,0,.001);
      bottom:0;
      height:290px;
      left:0;
      margin:auto;
      position:absolute;
      right:0;
      top:0;
      width:85%;
  }
  
  .me-img {
    background: no-repeat center center ;
    background-size:100%;
    background-position:0px;
    border-radius:100%;
    height:0px;
    margin:0 auto;
    position:relative;
    width:150px;
}

  img.cv {
    filter: drop-shadow(5px 5px 10px black);
    border-radius: 60%;
  }

  .name-joan h1 {
        color: white;
        filter: drop-shadow(-1px 4px 2px black);
        font-family:Open Sans, sans-serif;
        font-size:1.5em;
        text-align:center;
  }
  
  .name-joan p {
      color: white;
      font-size:.75em;
      line-height:1.5;
      margin:0 8px 0 0;
      text-align:center;
  }
  
  .name-joan .name-text {
      margin:0 auto;
      width:85%;
  }
  
  .inner {
      margin:0 auto;
      max-width:800px;
      padding: 0;
  }
  
  .inner h2 {
      font: size 1.5em;
  }
  
  .inner p {
      color:rgba(0,0,0,.5);
  }
  
  .inner h4 em {
      color:rgba(0,0,0,1);
      font-style:normal;
  }
  
  .inner section {
      margin:70px auto;
  }
  
  ul {
      list-style-type:none;
      margin-top:-10px;
      max-width:570px;
      padding:0;
  }
  
  .skill-set li {
      background:rgba(66, 50, 119, 0.75);
      border-radius:5px;
      color:#FFF;
      display:inline-block;
      list-style:none;
      margin:15px 15px 0 0;
      padding:10px;
      text-align:justify;
  }
  
  